body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 30px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  border: none;
  background: #ff7a18;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #ff9a3c;
}

#result {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
